@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  flex: 1; /* Fills the remaining space */
  overflow-y: auto; /* Allows scrolling when content overflows */
  scroll-behavior: smooth; /* Smooth scrolling */
}

.app {
  display: flex;
  position: relative;
}

/* Customize Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #404040, #404040);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #808080, #808080);
}

/* Adjust for Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: linear-gradient(180deg, #28282B, #28282B) #f0f0f0;
}
input[type="file"] {
  display: none;
}